.remote {
    align-items: center;
    display: flex;
    flex-direction: row;
}
.remote input{
    display: none;
}

.form__style {
        position: relative;
        margin: 10px 2.5px 20px 2.5px;
    }
.form__style label {
        color: var(--Blue);
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 10px;
        transition: 0.2s;
    }
    
    .form__style input:focus ~ label,
    .form__style input:valid ~ label,
    .form__style select:focus~label,
    .form__style select:not([value=""]):valid~label,
    .form__style textarea:focus ~ label,
    .form__style textarea:not([value=""]):valid~label{
        top: -10px;
        font-weight: 700;
        left: 15px;
        font-size: small;
        color: var(--Blue);
        background-color:#fff;
        padding:0 5px 0 5px;
    }

.input:focus, .select select:focus, .textarea:focus{
    border-color: var(--Blue) !important;
    box-shadow: 0 0 0 0.125em rgba(84, 228, 213, 0.25) !important;
}

.select:not(.is-multiple):not(.is-loading)::after{
    border-color: var(--Blue) !important;
}

.switch-button {
    background-color: var(--Dark);
    border-radius: 1rem;
    overflow: hidden;
    width: 80px;
    text-align: center;
    font-size: small;
    letter-spacing: 1px;
    color: white;
    position: relative;
    padding-right: 40px;
    position: relative;
  }
  .switch-button:before {
    content: "Si";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
  }
  .switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
  }
  .switch-button-checkbox:checked + .switch-button-label:before{
    transform: translateX(40px);
    background-color: var(--Blue);
    transition: transform 300ms linear;
  }

  .switch-button-checkbox + .switch-button-label {
    position: relative;
    padding: 5px;
    display: block;
    user-select: none;
    pointer-events: none;
  }
  .switch-button-label::before{
      background-color: var(--Red);
  }
  .switch-button-checkbox + .switch-button-label:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 1rem;
    transform: translateX(0);
    transition: transform 300ms;
  }
  .switch-button-checkbox + .switch-button-label .switch-button-label-span {
    position: relative;
  }