.cardJob {
    display: grid;
    /* grid-template-columns: 8rem 1fr 25%; */
    grid-template-columns: 1fr 25%;
    gap: 1rem;
}
.card__img{
    width: 8rem;
    height: 8rem;
}
    .card__img img{
        object-fit: contain;
        border-radius: .5rem;
        width: 100%;
        height: 100%;
    }
.card__body{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.card__bodyTitle{
    margin: 0;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680)) !important;
    position: relative;
}
.card__bodyTitle a{
    color: var(--Dark) !important;
}
.card__bodyTitle a:hover{
    color: var(--Blue) !important;
}
.jobHeader{
    grid-column: 1 / -1;
}
.job__info{
    align-items: flex-end;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}

.job__button {
    box-sizing: border-box;
    border-radius: .25rem;
    border: 1px solid #e8e8e8;
    display: inline-block;
    color: var(--Dark);
    fill: var(--Dark);
    font-size: .75rem;
    font-weight: 600;
    line-height: 1rem;
    margin-left: 1rem;
    padding: .5rem 1rem;
}
.job__button:hover{
    background: #e8e8e8;
}

.job__buttonShareButton{
    border:none;
    margin: 0;
    visibility: hidden;
    display: none !important;
}
.job__icons{
    display: flex;
}
.job__icon{
    background-size: 325px 25px;
}

    
    .job__icon i{
        background-size: 25px 25px;
        display: block;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
    .iconsInfo{
        display: flex;
        flex-direction: row;
    }
.iconRemote{
    width: 100% !important;
}
.icon__category{
    text-transform: capitalize;
}
.job__button-position{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

@media screen and (max-width: 720px){
    .card{
        padding: .85rem;
        grid-template-columns: 1fr;
        grid-gap: .85rem;
    }
    .card__img{
        width: 6rem;
        height: 6rem;
        grid-row: 1 / 3;
    }
    .job__info{
        align-items: flex-start;
    }
    .icons-info{
        display: none;
    }
    .job__city{
        margin: 0;
    }
}

.outline--button{
    color: var(--Blue) !important;
    border-color: var(--Blue) !important;
}
.outline--button:hover{
    color: white !important;
    background-color: var(--Blue) !important;
}
@media screen and (max-width: 480px){
    .cardJob{
        grid-template-columns: 1fr;
    }
    .job__info{
        grid-gap: 1rem;
    }
    /* .jobHeader{
        display: block !important;
    } */
    .icon__text{
        display: none;
    }
    .icon__category{
        background: transparent !important;
        margin: 0 !important;
        padding-right: 0 !important;
    }
    .iconsInfo{
        margin-left: .5rem;
    }
}