.categories{
    display: block;
}
.categories_link{
    align-items: center;
    display: inline-flex;
    padding: .25rem 0;
    width: 100%;
    position: relative;
    transition: all .5s;
}
.categories_link::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--Blue);
    height: 1px;
    transition: all .5s;
}
.categories_link:hover{
    font-weight: 500;
}
.categories_link:hover:after{
    width: 100%;
  }
