.hero{
    background-color: var(--Blue);
    color: white;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.hero-content{
    box-sizing: border-box;
    text-align: center;
    padding: 1rem 2rem;
    max-width: 1200px;
    
}
.hero h3 {
        font-weight: 400;
        font-size: 2rem;
    }
    .hero span{
        text-transform: uppercase;
        font-weight: 700;
        color: var(--Yellow);
    }
@media screen and (max-width: 720px) {
    .hero{
        height: auto;
    }
    .hero h3 {
        font-size: 1.5rem;
        line-height: 1.5;
    }
}