.remote {
    align-items: center;
    display: flex;
    flex-direction: row;
}
.remote input{
    display: none;
}
.remote-btn{
    text-align: center;
    width: 100%;
    border: solid 1px var(--Blue) !important;
}
    .false{
        color: var(--Dark) !important;
        
        background: #f9f9f9 !important;
    }