@import './fonts.css';

:root{
    --Orange: #F7B267;
    --Blue: #1B9AAA;
    --Yellow: #FFC43D;
    --Green: #06D6A0;
    --Red: #EF476F;
    --Dark: #5E6472;
}
body{
    font-family: 'Montserrat';
    color: var(--Dark);
    font-size: 16px;
    margin: 0;
    padding: 0;
}
a{
    color: var(--Dark);
    text-decoration: none;
    transition: all 0.3s;
    text-shadow: 1px 1px var(--LigthGreen);
}
    a:hover{
        color: var(--Blue);
    }

  
.main{
    background: #f9f9f9;
    box-sizing: border-box;
    padding: 1rem 0;
}
/* Botones */
.btn{
    background: var(--Red);
    border-radius: .25rem;
    border: none;
    color: white !important;
    font-weight: 500;
    padding: .5rem 1rem;
    transition: all .3s;
}
    .btn:hover{
        color:  var(--Dark);
        background: var(--Yellow);
    }

    .bg__main{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1032%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1039' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1039' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1032'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1037'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1038'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1035'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1034'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1033'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1036'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1039'%3e%3cuse xlink:href='%23SvgjsPath1033' x='30' y='30' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='30' y='90' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='30' y='150' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='30' y='210' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='30' y='270' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='30' y='330' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='30' y='390' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='30' y='450' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='30' y='510' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='30' y='570' stroke='rgba(255%2c 196%2c 61%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='90' y='30' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='90' y='90' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='90' y='150' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='90' y='210' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='90' y='270' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='90' y='330' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='90' y='390' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='90' y='450' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='90' y='510' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='90' y='570' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='150' y='30' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='150' y='90' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='150' y='150' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='150' y='210' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='150' y='270' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='150' y='330' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='150' y='390' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='150' y='450' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='150' y='510' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='150' y='570' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='210' y='30' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='210' y='90' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='210' y='150' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='210' y='210' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='210' y='270' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='210' y='330' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='210' y='390' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='210' y='450' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='210' y='510' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='210' y='570' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='270' y='30' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='270' y='90' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='270' y='150' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='270' y='210' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='270' y='270' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='270' y='330' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='270' y='390' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='270' y='450' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='270' y='510' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='270' y='570' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='330' y='30' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='330' y='90' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='330' y='150' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='330' y='210' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='330' y='270' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='330' y='330' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='330' y='390' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='330' y='450' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='330' y='510' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='330' y='570' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='390' y='30' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='390' y='90' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='390' y='150' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='390' y='210' stroke='rgba(255%2c 196%2c 61%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='390' y='270' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='390' y='330' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='390' y='390' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='390' y='450' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='390' y='510' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='390' y='570' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='450' y='30' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='450' y='90' stroke='rgba(255%2c 196%2c 61%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='450' y='150' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='450' y='210' stroke='rgba(255%2c 196%2c 61%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='450' y='270' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='450' y='330' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='450' y='390' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='450' y='450' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='450' y='510' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='450' y='570' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='510' y='30' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='510' y='90' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='510' y='150' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='510' y='210' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='510' y='270' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='510' y='330' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='510' y='390' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='510' y='450' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='510' y='510' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='510' y='570' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='570' y='30' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='570' y='90' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='570' y='150' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='570' y='210' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='570' y='270' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='570' y='330' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='570' y='390' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='570' y='450' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='570' y='510' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='570' y='570' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='630' y='30' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='630' y='90' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='630' y='150' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='630' y='210' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='630' y='270' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='630' y='330' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='630' y='390' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='630' y='450' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='630' y='510' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='630' y='570' stroke='rgba(255%2c 196%2c 61%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='690' y='30' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='690' y='90' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='690' y='150' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='690' y='210' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='690' y='270' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='690' y='330' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='690' y='390' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='690' y='450' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='690' y='510' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='690' y='570' stroke='rgba(255%2c 196%2c 61%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
    }
/* Container  */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.content, .sidebar{
    box-sizing: border-box;
    padding: 2rem 1rem;
}
.home{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
}
.home__jobs{
    grid-column: span 9;
    grid-row: span 2;
}
.home__sidebar{
    grid-column: span 3;
}
/* ERROR  */
.error{
    border-radius: .5rem;
    border: solid 1px var(--Red);
    color: var(--Red);
    font-weight: 600;
    margin-bottom: 1rem;
    padding: .6rem;
    text-align: center;
}

/* PAGINADOR */
.paginator{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 720px) {
    .container{
        grid-template-columns: 1fr;
    }
    .content{
        order: 1;
    }
    .sidebar{
        padding: 1rem 1rem 0;
        order: 0;
    }


    .home__jobs{
        grid-column: span 12;
        order: 1;
    }
    .home__sidebar{
        grid-column: span 12;
        order: 0;
    }
}

/* Login Box  */
.login__content{
    height: 100vh;
    width: 100%;
}
.login__box {
    height: 100vh;
}

.menu__it{
    background: none !important;
    color: var(--Dark) !important;
}
.effect__hover::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--Red);
    height: 1px;
    transition: all .5s;
}
.effect__hover:hover:after{
    width: 100%;
  }