.navbar--menu{
    display: none;
}
.navbar--menu .navbar-item{
    color: white !important;
    font-weight: 600;
}
.navbar--menu .effect__hover::after{
    background-color: white !important;
}
.navbar--menu .navbar-burger{
    color: white !important;
    border-radius: 50%;
}
.navbar--menu .navbar-burger span{
    height: 3px;
}
.navbar--menu .navbar-burger:hover, .navbar--menu .navbar-burger:active, .navbar--menu .navbar-burger:focus{
    background: rgba(255, 255, 255, .2);
}

.header__title{
    color: var(--Blue) !important;
    transition: all .3s;
}
.header__title:hover{
    color: var(--Red) !important;
}
@media screen and (max-width: 720px){
    .navbar--menu{
        display: block;
        height: 100vh !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        box-sizing: border-box;
        background-color: rgba(27, 154, 170, .7) !important;
    }

    .buttons__movil svg{
        margin: 0 !important;
    }
    .buttons__movil .txt{
        display: none;
    }
}