.menu__it{
    position: relative;
    color: var(--Red);
}
.menu__it::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--Red);
    height: 1px;
}