@import './assets/css/fonts.css';

:root{
    --Orange: #F7B267;
    --Blue: #1B9AAA;
    --Yellow: #FFC43D;
    --Green: #06D6A0;
    --Red: #EF476F;
    --Dark: #5E6472;
}
body{
    font-family: 'Montserrat';
    color: var(--Dark);
    font-size: 16px;
    margin: 0;
    padding: 0;
}
a{
    color: var(--Blue);
    text-decoration: none;
    transition: all 0.3s;
    text-shadow: 1px 1px var(--LigthGreen);
}
    a:hover{
        color: var(--Dark);
        }
.main{
    background: #f9f9f9;;
    box-sizing: border-box;
    padding: 1rem;
}
/* Botones */
.btn{
    display: block;
    border-radius: .25rem;
    background: var(--Red);
    color: white;
    padding: .5rem 1rem;
    transition: all .3s;
}
    .btn:hover{
        color:  var(--Dark);
        background: var(--Yellow);
    }
    .btn-blue{
        color: white;
        background: var(--Blue);
    }
    .btn-outline-red{
        background: none;
        border: 1px solid var(--Red);
        color: var(--Red);
        font-weight: 600;
    }

/* Container  */
.container{
    display: grid;
    grid-template-columns: 1fr 25%;
    grid-gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.content, .sidebar{
    box-sizing: border-box;
    padding: 2rem 1rem;
}

@media screen and (max-width: 992px) {
    .container{
        grid-template-columns: 1fr;
    }
}

/* ERROR  */
.error{
    border-radius: .5rem;
    border: solid 1px var(--Red);
    color: var(--Red);
    font-weight: 600;
    margin-bottom: 1rem;
    padding: .6rem;
    text-align: center;
}

/* PAGINADOR */
.paginator{
    display: flex;
    justify-content: space-between;
}
